@font-face {
    font-family: 'classic-cassette';
    src: url('./font_classic-cassette.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saint-carell';
    src: url('./font_saint-carell.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}
  
.hello {
    color: red;
    font-family: 'classic-cassette';
    font-size: 6rem;
}

body {
    background: url("https://www.prefixbox.com/img/geometric_illustrations/web/home_hero_bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #232323;
    height: 100vh;
}